/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Abril Text";
$font-family-monospace: "Fira-code";

// colors
$body-bg: #1d1e26 !default;
$body-color: #f8f8f2 !default;
$link-color: $body-color;
$link-color-hover: #8774e5 !default;
$selection-bg: #fff !default;

$code-bg: #272a36 !default;
$code-block-bg: $code-bg;
$code-color: $body-color;
$code-block-border-color: $body-bg;

$tabset-border-color: $body-bg;

// headings

/*-- scss:rules --*/

.mermaidTooltip {
  background-color: $body-color !important; 
  color: $body-bg !important;
  border-color: $code-bg !important;
  padding: 5px !important;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.small{
  font-size: 0.75em;
}

.xsmall{
  font-size: 0.6em;
}

.xxsmall{
  font-size: 0.4em;
}
